@font-face {
  font-family: 'akkurat';
  src: url('/public/fonts/akkurat.woff2') format('woff2'),
      url('/public/fonts/akkurat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museosans';
  src: url('/public/fonts/museosans.woff2') format('woff2'),
      url('/public/fonts/museosans.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $min-lineheight, $max-lineheight) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  $u5: unit($min-lineheight);
  $u6: unit($max-lineheight);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 and $u1 == $u5 and $u1 == $u6 {
    & {
      font-size: $min-font-size;
      line-height: $min-lineheight;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        line-height: calc(#{$min-lineheight} + #{strip-unit($max-lineheight - $min-lineheight)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
        line-height: $max-lineheight;
      }
    }
  }
}

html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'museosans';
  color: white;
  background: #F291C8;
  -webkit-overflow-scrolling: touch;
}

* {
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;

  perspective: 1000px;
  -webkit-perspective: 1000px;
}

canvas {
  pointer-events: none;
}

bdi {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

body {
  cursor: url(/public/cursor.png), default;
  cursor: -webkit-image-set(url(/public/cursor.png) 1x, url(/public/cursor@2x.png) 2x) 0 0, default;

  a, button, &.hover {
    cursor: url(/public/cursor.png), default !important;
    cursor: -webkit-image-set(url(/public/cursor.png) 1x, url(/public/cursor@2x.png) 2x) 0 0, default !important;
  }
}


.text {
  font-family: 'akkurat';
  max-width: 500px;
  @include fluid-type(
    375px,
    1560px,
    16px,
    26px,
    20px,
    38px,
  );
}

p {
  font-family: 'akkurat';
  font-weight: 400;
}

span {
  color: transparent;
  -webkit-text-stroke: 3px white;

  @media (max-width: 540px) {
    -webkit-text-stroke: 2px white;
  }
}

.claim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 52%;
    text-align: center;

    @media (max-width: 768px) {
      top: 50%;
    }

    transform: translate3d(-50%, -50%, 0);
  }
  
  h1 {
    font-weight: 900;
    font-stretch: condensed;

    @include fluid-type(
      375px,
      1560px,
      70px,
      220px,
      70px,
      210px,
    );

    span {
      color: transparent;
      -webkit-text-stroke: 3px white;

      @media (max-width: 540px) {
        -webkit-text-stroke: 2px white;
      }
    }
  }
}

.mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  background: #F291C8;
  z-index: 200;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  z-index: 20;

  a {
    display: block;
    * {
      pointer-events: none;
    }
  }
  
  @media (max-width: 540px) {
    padding: 20px;
  }

  svg {
    width: 186px;

    @media (max-width: 768px) {
      width: 150px;
    }
  }

  &__symbol {
    fill: white;
  }

  &__type {
    fill: white;
  }
}

.socials {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 40px;
  z-index: 20;

  a {
    display: inline-block;

    * {
      pointer-events: none;
    }
  }

  @media (max-width: 540px) {
    padding: 20px;
  }

  display: flex;
  flex-direction: row-reverse;
  li {
    list-style: none;
    margin-left: 16px;

    img {
      width: 26px;
      height: 26px;
      opacity: 0.8;

      transition: opacity 0.5s ease-out;
    }
  }

  a:hover {
    img {
      opacity: 1;
    }
  }
}

.welcome, .flagship {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translateZ(-300px);
  will-change: transform;
  
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    opacity: 0;
    will-change: opacity;

    transform: translate3d(-50%, -50%, 0);
  }
  
  h2 {
    position: relative;
    font-weight: 900;
    font-stretch: condensed;

    @include fluid-type(
      375px,
      1560px,
      48px,
      160px,
      48px,
      150px,
    );

    bdi {
      @media (max-width: 540px) {
        display: inline;
      }
    }
  }
}

.services {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateZ(1px);

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h2 {
    position: absolute;
    width: 60vw;
    right: 8vw;
    top: 8vw;

    font-weight: 900;
    font-stretch: condensed;

    @media (max-width: 540px) {
      top: 30vw;
    }

    @include fluid-type(
      375px,
      1560px,
      70px,
      200px,
      70px,
      200px,
    );

    text-align: right;
  }

  // bdi {
  //   &:last-child {
  //     margin-right: 10vw;
  //   }
  // }

  .text {
    position: absolute;
    bottom: 8vw;
    left: 8vw;

    @media (max-width: 540px) {
      max-width: 80vw;
      bottom: 30vw;
    }
  }
}
.recycle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateZ(1px);

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  h2 {
    position: absolute;
    width: 60vw;
    right: 8vw;
    top: 8vw;

    font-weight: 900;
    font-stretch: condensed;

    @media (max-width: 540px) {
      top: 20vw;
    }

    @include fluid-type(
      375px,
      1560px,
      70px,
      200px,
      70px,
      200px,
    );

    text-align: right;
  }

  // bdi {
  //   &:last-child {
  //     margin-right: 10vw;
  //   }
  // }

  .text {
    position: absolute;
    bottom: 8vw;
    left: 8vw;

    @media (max-width: 540px) {
      max-width: 80vw;
      bottom: 20vw;
    }
  }
}

.trail {
  position: absolute;
  left: -25px;
  top: -50px;
  z-index: 1000;
  pointer-events: none;
  width: 100px;
  opacity: 0;
  transition: all 0.2s ease-out;
  img {
    max-width: 100%;
  }

  display: none;
  @media (hover: hover) {
    display: block;
  }
}

.s-m {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 56%;
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;

  @media (hover: none) {
    display: block !important;
    position: absolute;
  }

  @media (hover: hover) {
    display: none !important;
  }
}

.links {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;

  a {
    img {
      width: 16px;
      height: 16px;
      text-decoration: none;
      vertical-align: middle;
      margin-right: 5px;
    }
    color: currentColor;
    text-decoration: none;
  }
}

.contact {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateZ(1px);

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__inner {
    position: absolute;
    left: 8vw;
    width: 80%;

    top: 50%;
    transform: translate3d(0, -50%, 0);

    @media (max-width: 540px) {
      top: 40%;
    }
  }

  h3 {
    margin-top: 20px;
    @include fluid-type(
      375px,
      1560px,
      38px,
      120px,
      42px,
      126px,
    );
  }

  .credits {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px;
    font-size: 14px;

    @media (max-width: 540px) {
      padding: 20px;
    }

    a {
      color: currentColor;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .text {
    margin-top: 60px;
    max-width: 500px;

    @media (max-width: 540px) {
      margin-top: 20px;
    }
  }

  .ctas {
    position: absolute;
    right: 9vw;
    bottom: 120px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 540px) {
      right: auto;
      bottom: 80px;
      left: 40px;
      width: calc(100vw - 80px);
    }

    a {
      display: inline-block;

      * {
        pointer-events: none;
      }
    }

    .visit {
      position: relative;
      margin-right: 60px;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;

      @media (max-width: 540px) {
        margin-right: 30px;
      }
      svg {
        width: 178px;
        filter: drop-shadow(2px 2px 4px #ffe1a9);

        &.arrow {
          position: relative;
          right: 0;
          width: 190px;
          margin-top: 20px;
          transform: scaleX(-1) translateX(0px);
          transition: transform .7s ease-out;
          stroke-width: 4px;

          @media (max-width: 540px) {
            width: 90px;
          }
        }

        @media (max-width: 540px) {
          width: 110px;
        }

        path {
          stroke: #ffe1a9;
          stroke-opacity: 0.5;
          transition: all .7s ease-out;
        }
      }
      &:hover {
        @media (hover: hover) {
          path {
            stroke-opacity: 1;
          }
          .arrow {
            animation-name: bounce-inverse;
            animation-duration: .7s;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    .shop {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;
      svg {
        width: 223px;
        filter: drop-shadow(2px 2px 4px #F21182);
        
        @media (max-width: 540px) {
          width: 135px;
        }
        
        path {
          transition: all .7s ease-out;
          stroke: #F21182;
          stroke-opacity: 0.5;
        }

        &.arrow {
          margin-top: 20px;
          position: relative;
          width: 190px;
          right: 0;
          transition: transform .7s ease-out;
          transform: translateX(0px);
          stroke-width: 4px;

          @media (max-width: 540px) {
            width: 90px;
          }
        }
      }

      &:hover {
        @media (hover: hover) {
          path {
            stroke-opacity: 1;
          }
          .arrow {
            animation-name: bounce;
            animation-duration: .7s;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
          }
        }
      }
    }
  }
}

.not-visible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.claim, .welcome, .flagship {
  h1, h2, h3 {
    .shadow {
      text-shadow: 0px 0px 15px rgba(255, 205, 218, 0.4);
    }
  }
}

.services, .contact, .recycle {
  h1, h2, h3 {
    .shadow {
      text-shadow: 0px 0px 20px rgba(218, 93, 162, 0.8);
    }
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes bounce-inverse {
  0%, 100% {
    transform: scaleX(-1) translateX(0);
  }
  50% {
    transform: scaleX(-1) translateX(20px);
  }
}

.cookie__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  max-width: 450px;
  margin: auto;

  pointer-events: none;
  font-size: 14px;
  line-height: 18px;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    margin-left: 10px;

    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: darken(#FFCDDA, 20%);
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    outline: transparent;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 10px;
    transition: all 0.5s ease-out;
    font-size: 'museosans';

    &:hover {
      background: darken(#FFCDDA, 24%);
    }
  }

  .cookie {
    position: relative;
    background: rgba(#611F44, 0.45);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(#611F44,0.1);
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;

    & br {
      display: none;
    }

    @media (max-width: 768px) {
      & br {
        display: block;
      }
    }
  }
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  pointer-events: none;

  &__wrapper {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: rotateX(45deg) translateX(-50%);
    pointer-events: auto;

    * {
      pointer-events: none;
    }

    @media (max-width: 768px) {
      bottom: 110px;
    }
  }

  &__anim {
    width: 70px;

    @media (max-width: 768px) {
      width: 50px;
    }
  }
}

.progress {
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  transform-origin: 0% 0%;

  @media (min-width: 769px) {
    right: 0;
    width: 5px;
    height: 100%;
  }

  @media (max-width: 768px) {
    left: 0;
    width: 100%;
    height: 5px;
  }
}

h1, h2, h3 {
  pointer-events: auto;
  * {
    pointer-events: none;
  }
}


.caricamento {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  z-index: 4;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateY(-10px);
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-name: boingball;
}

@keyframes boingball {
  0% {
    transform: translateY(-10px)
  }
  50% {
    transform: translateY(15px)
  }
  100% {
    transform: translateY(-10px)
  }
}

.ombra-caricamento {
    width: 20px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% - 10px);
    z-index: 0;
    transform: scale(.8, .8);
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-name: scaleball;
}

@keyframes scaleball {
  0% {
    transform: scale(.8, .8)
  }
  50% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(.8, .8)
  }
}

.popup-open {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: none;
  cursor: pointer;

  &.visible {
    display: block;
  }

  div {
    display: block;
    transform: rotate(90deg) translateY(-100%) translateY(10px);
    background: #b92179;
    padding: 10px 15px;
  }
}

.popup-time {
  position: absolute;
  top: 8vw;
  right: 8vw;
  pointer-events: none;
  z-index: 20;
  opacity: 1;
  transition: opacity 0.5s ease-out;

  &.close {
    opacity: 0;
  }

  @media (max-width: 768px) {
    top: auto;
    bottom: 100px;
  }

  .time-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    pointer-events: auto;
  }

  .time__wrapper {
    display: inline-block;
    padding: 60px;
    border-radius: 30px;
    background: #b92179;
    box-shadow: 0 10px 30px rgba(#b92179,0.5);

    @media (max-width: 768px) {
      padding: 30px;
    }
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .text {
    margin-top: 20px;
  }

  li {
    list-style: none;
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  } 
}

.video-recycle {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}